<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <h1>Upload a PDF file</h1>
    {% if message %}
        <p>{{ message }}</p>
        <br>
        <button onclick="window.location.href='/'">Go Back</button>
    {% else %}
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".pdf" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" required>
            <br>
            <input type="submit" value="Upload">
        </form>
    <h1>Commit PDFs to Github</h1>
        <form action="/commit" method="post">
            <input type="password" name="password" required>
            <br>
            <input type="submit" value="Commit to repo">
        </form>
    {% endif %}
</body>
</html>
